.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 80px;
  padding: 0px 20px;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  box-sizing: border-box;
}

.header-left{
    flex: 1;
    min-width: 0;
}

.header-logo {
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #336699;
    font-weight: bold;
    white-space: nowrap;
    background-color: white;
    margin: 0;
    border-radius: 3px;
    padding-left: 20px;
    line-height: 1;
}

.header-bottom-line{
   border: none;
  border-top: 1px solid #ddd;
  margin: 0;
  width: 100%;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #222;
  font-family: 'Arial', sans-serif;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  flex-shrink: 0;
}

.header-login-button{
  padding: 6px 10px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: 700;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  white-space: nowrap;
}

.header-icon,
.header-icon-header-menu-icon {
  font-size: 18px;
  color: #888;
  cursor: pointer;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}
